{% extends 'main.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Login</h2>
        <form method = "post" action="{{url_for('login')}}">
            <div class="form-group">
                <label for="Username" class="req">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="Password" class="req">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                <a href={{ url_for('forgot') }}> Forgot Password?</a>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}